certifi==2018.11.29
chardet==3.0.4
Click==7.0
configparser==3.7.4
Flask==1.0.2
future==0.17.1
idna==2.8
itsdangerous==1.1.0
Jinja2==2.10
MarkupSafe==1.1.0
onfleet==1.0.0
pyonfleet==1.0.0.1
requests==2.21.0
urllib3==1.24.1
Werkzeug==0.14.1